<h2>Admin Paneline Hoş Geldin!</h2>

<ul>
    <li><a href="@Url.Action("CreateEmergency", "Admin")">Acil Durum Ekle</a></li>
    <li><a href="@Url.Action("CreateAssistant", "Admin")">Asistan Ekle</a></li>
    <li><a href="@Url.Action("CreateDuty", "Admin")">Görev Ata</a></li>
</ul>
